mlruns*
Data/*
.ipynb_checkpoints
__pycache__
**/.Trash*
**/.trash*
**.pyc
models/car/adaptive_gridsampler/*.so
models/car/adaptive_gridsampler/build
**.pth
plots*
comparison*
*log*.txt
*.csv
checkpoints/
